
@import "utils.css";
@import "nav-menu.css";
@import "sticky-footer.css";
@import "jqSlide.css";
@import "round-button.css";
@import "tables.css";
@import "widgets.css";

body {
    background: #efefef url(../images/bg2.png) repeat-x top center;
    font-family: "Yantramanav", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.6em;
	/*padding-top: 91px !important; /* should be the same value as .nav-hide */
}

h1 {
	font-family: "Lucida Grande", Tahoma, sans-serif;
}

h1 {
	font-size: 1.8em; /* Max Size */
}

form p, form label {
	font-family: Verdana, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

form label {
	font-size: 16px;
}

label input {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}

img {
	object-fit: contain;
}

a, a:hover {
	color: #4004a0;
}

a.mobile {
	display: none;
}

/* Navigation Menu */

nav {
	background: transparent url('../images/header-left.png') bottom center repeat-x !important;
	border-bottom: none;
}

nav ul {
	line-height: 0;
}

nav ul li a {
	color: #ccc;
	padding: 10px 16px;
}

nav ul li a:hover {
	color: #fff;
	background-color: #090712;
}

nav ul li:hover ul {
	border: none;
}

nav ul ul {
	min-width: 160px !important;
}

nav ul ul li {
	background-color: #1f1a2f;
}

nav ul ul li a {
	padding: 16px 18px;
}

.nav-show .container {
	background: url(../images/header-bg.png) no-repeat;
	background-position: 0px -1px;
	background-size: cover;
}

.nav-hide {
    /*top: -91px !important;*/ 
}

.logo {
	width: 206px; /*161px;*/
	height: 85px; /*40px*/
}

/* Actions */

ul.actions {
	list-style: none;
	float: right;
}

ul.actions li {
	display: inline-block;
	margin: 0;
}

.button span b {
    background: #fff;
    border-radius: 50%;
    padding: 0 1px;
}

/* jQSlider */

.slider-container {
	background: none;
}

.slider-container > div {
    min-height: 310px;
    background-size: cover !important;
}

.slider-wrapper {
	background-color: #fff;
}

.select-slider select {
	font-size: 14px;
	background-color: #f3ff00;
	color: #333;
	border-radius: 0;
}

.slide-navbar > li {
	background: url(../images/thumbs_bg.jpg) repeat-x top center;
	background-size: contain;
	color: #252525;
	font-size: 18px;
	font-weight: 500;
	border-left: 1px solid #b9b9b9;
    border-right: 1px solid #fff;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;	
}

.slide-navbar > li > span {
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	display:block;
}

.slide-navbar > li.active-tab {
	background: url(../images/thumbs_bg_h.jpg) repeat-x top center !important;
	background-size: contain !important;
	color: #fff;	
    border-left: 1px solid #2d2d2d;
    border-right: 1px solid #2d2d2d;
    border-top: 1px solid #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
}

.details {
    float: left;
    color: #fff;
	padding: 30px 20px;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
	-webkit-font-smoothing: antialiased;	
}

.details h2 {
    font-family: Verdana;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    margin: 0 0 40px 0;
    color: #f3ff00;
}

.details p {
	width: calc(50% - 40px); /* 40px offset left and right 20px margin below) */
	font-size: 18px;	
}

#slider-1 {
	background: url(../images/slider/361066-tecno-the-base.jpg) center center no-repeat;
}

#slider-3 {
	background: url(../images/slider/51DWV-super-cyborg.png) center center no-repeat;
}

#slider-2 {
	background: url(../images/slider/blitzwater.jpg) center center no-repeat;
}

#slider-4 {
	background: url(../images/slider/game-development.jpg) top center no-repeat;
}

#slider-5 {
	background: url(../images/slider/2dgames.jpg) center center no-repeat;
}

/* Footer/Sticky Footer */

/*.table-container {
	background: #eee url(../images/body-bg.png) no-repeat top center;
}*/

/* Remove spacing on top from framework default */
.footer-push > .container > .grid > section > .row {
	margin: 0;
}

.footer-push > .container {
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;	
	-webkit-box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.25);
	box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.25);
}

.footer-push > .container {
	min-height: 700px;
	background: #fff;
}

.footer-push.compact > .container {
	min-height: 100px;
}

footer {
	border: none;
}

footer a {
	display: inline-block;
	padding: 10px 15px;
	text-decoration: underline;
}

footer div a {
	color: #252525;
}

/* Home page box */

.grid section.featured {
	border: none;
}

.grid .featured .column {
	background: none; /*#eee;*/
}

.grid .featured .column > div {
	text-align: center;
}

.grid section.featured p {
	line-height: 1.3;
	padding: 0px 5px;
}

.grid section.featured h2 {
	padding: 5px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	color: #252525;
}

.grid section.featured h2.alt {
	color: #0063B5;
}

.icon-featured {
	width: 64px;
	height: 64px;
}

div.home-demos > div {
	padding: 8px 0;
}

div.home-demos img {
	width: 210px;
}

/* Sections */

/* Common Header */

header {
	padding: 0 !important;
	border: none;
	margin: 0; /* no gap on top */
}

header, header h1 {
	margin-bottom: 0;
}

header h1 {
	/*background: url(../images/subheader-bg.png) left -40px no-repeat;*/
	background: url(../images/forum/subheader-bg.jpg) 0px 47% no-repeat;
	background-size: cover;
	font-family: "Lucida Grande", Tahoma, sans-serif;
	font-size: 1.8em;
	text-align: left;
	padding: 15px;
	color: #29037d;	
}

header h1.blank {
	background: none;
}

/* Forum */

a.toggle h3 {	
	font-size: 16px;
	color: #222;
	border-bottom: 2px solid #ccc;
	padding-bottom: 10px;
}

table.forum, div.thread-content p,
.comment {
	font-family: Verdana, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

table.forum td { border: none; }

table.forum tr td:nth-child(1) { width: 30%; text-decoration: underline; }
table.forum tr td:nth-child(2) { width: 15%; }
table.forum tr td:nth-child(3) { width: 55%; }

table.forum tr td:nth-child(1),
table.forum tr td:nth-child(3) {
	font-weight: 500;
}

table.forum a {
	font-size: 16px;
	color: #4004a0; /* #0063B5;*/
}

table.forum a:hover {
	color: #ca2c92 !important;
}

table.forum small, table.forum small a {
	font-size: 14px;
}

table.forum span {
	font-size: 12px;
}

table.topics > thead { background-color: #e4f2fa; }

table.topics td { font-size: 15px; }

table.topics tr td:nth-child(1) { width: 50%;  }
table.topics tr td:nth-child(2) { width: 20%;  }
table.topics tr td:nth-child(3) { width: 10%;  }
table.topics tr td:nth-child(4) { width: 20%;  }

h1.title {
	font-size: 1.8em;
	margin-top: .5em;
	margin-bottom: .25em;
}

.grid section p.byline {
	color: #1b1b1b;
    font-size: 15px;
    text-transform: none;
    font-style: italic;
    line-height: 1.2em;
}

p.byline span {
	text-decoration: none;
}

p.byline a {
	text-decoration: underline;
}

div.thread-content {
	color: #1b1b1b;
    font-size: 15px;

}

div.thread-content > * {
    padding-left: 5px;
}

div.thread-content p {	
	text-align: left;
	padding-top: 8px;
	padding-bottom: 8px;

}

textarea.large {
	height: 300px;
}

/* Page Turner */

.grid section.page-turner {
	background-color: #f2f1f0;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
}

.grid section.page-turner .row.group {
	background-color: #f2f1f0;
	box-shadow: 0px 2px 5px 3px rgba(174,170,170,0.27) inset;
	-webkit-box-shadow: 0px 2px 5px 3px rgba(174,170,170,0.27) inset;
	-moz-box-shadow: 0px 2px 5px 3px rgba(174,170,170,0.27) inset;	
}

.grid section.page-turner .column {
	background-color: transparent;
}

.grid section.page-turner .column {
    padding: 15px 0;
}

/* Comments */

.comment-header:after,
.comment:after {
	content: "";
	border-bottom: 1px solid #bfbfbf;
    width: calc(100% - 25px);
    text-align: left;
    margin: 0 auto;	
}

.comment-header {
	font-style: italic;
}

.comment-header:after {
	display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
}

.comment > div {
    position: relative;
    padding: 15px 0;
}

.comment > div img {
	width: 160px;
    position: relative;
    left: 5px;
}

.comment-header, .comment-body {
    padding: 0 5px;
}

a.button.anchor span {
	padding: 8px 10px 0 0px;
}

.comment-box {
	padding: 30px 0;
}

.comment-box textarea {
	border-radius: 0;
	width: 99%;
	height: 200px;
	border: 1px solid #777;
    margin: 1px;
    background: #F6F6F6;
    padding: 2px;	
}

.grid section p.submit {
	text-align: center;
}

/* Login Page */

.panel {
	padding: 5px 10px;
}

.panel h3 {
	font-size: 1.6em;
	color: #111;
	border-bottom: 2px solid #bfbfbf;
}

.login-box {
	/*border: 2px solid rgba(204,204,204,0.5);*/
	border: 1px solid #bfbfbf;
	min-height: 200px;
	margin-bottom: 20px;
	box-shadow: 3px 2px 5px 0px rgba(156,140,140,0.34);
	-webkit-box-shadow: 3px 2px 5px 0px rgba(156,140,140,0.34);
	-moz-box-shadow: 3px 2px 5px 0px rgba(156,140,140,0.34);
}

.login-box a {
	text-decoration: underline;
}

input[type=text], .panel input[type=email], input[type=password], input[type=file], textarea, select {
    /*width: 400px;*/
    border: 1px solid #777;
    margin: 1px;
    background: #F6F6F6;
    padding: 2px;
    border-radius: 0px;
}

/* Responsive Fixes */

@media screen and (max-width:768px) {
	body {
		/* Do not show body background image on select slider */
		background: none;
	}
	.slider-wrapper {
		height: 320px;
	}
	.details p {
		width: 100%;
	}
	ul.actions {
		float: left;
	}
}

@media screen and (max-width:880px) {	
	nav.mobile ul {
		background-color: #1f1a2f;
	}
	.nav-show {
		background-color: #090712 !important;
	}
	.logo {
		display: none;
	}
	nav ul {
		line-height: 1;
	}
	nav ul li a {
		padding: 14px 16px;
	}
	nav a.desktop {
		display: none;
	}	
	nav a.mobile {
		display: block;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.comment > div img {
		width: 120px;
	}
}	

/* Framework Overrides */

.grid section {
	border: none;
}

.grid section p {
	text-align: left;
}

.grid .column, .grid .columns {
	background-color: #fff;
}

table th, table td {
	font-size: 14px;
}
